.formSwap {
    border-radius: 20px;
    margin-top: 0.5rem;
    border: 1px solid rgb(237, 238, 242);
    background-color: rgb(247, 248, 250);
    padding: 1rem 1rem 0.75rem;
    .asset {
        .infoAsset {
            font-size: 1.8rem;
            letter-spacing: 1.5px;
            font-weight: 600;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border-radius: 16px;
            box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
            cursor: pointer;
            padding: 6px 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: fit-content;
            .assetName {
                margin: 0 1rem;
            }
            &:hover {
                background-color: rgb(237, 238, 242);
            }
        }
        .selectToken {
            display: flex;
            font-size: 1.9rem;
            align-items: center;
            font-weight: 700;
            background-color: rgb(232, 0, 111);
            color: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
            cursor: pointer;
            border: none;
            padding: 4px 13px;
            justify-content: space-between;
            white-space: nowrap;

            svg {
                margin-left: 1rem;
            }
        }
        
    }

    .inputValue {
        input {
            max-width: 150px;
            color: rgb(0, 0, 0);
            font-weight: 500;
            outline: none;
            border: none;
            background-color: rgb(247, 248, 250);
            font-size: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0px;
            appearance: textfield;
            text-align: right;
            filter: none;
            opacity: 1;
            transition: opacity 0.2s ease-in-out 0s;
        }

    }

    .balance {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        color: rgb(0, 0, 0);
        line-height: 1rem;
        padding: 0px 1rem 1rem;
        margin-top: 1.7rem;
    }
}
.formSwap:last-child {
    padding-bottom: 4rem;
}