@import '@/styles/info.scss';

.infoBorrow {
    .infoContainer {
        .infoMedia {
            .mediaImg  {
                width: 210px;
                right: 105px;
                top: -130px;
            }
        }
    }
}