@import '@/styles/base.scss';

.priceRange {
    .liquidity {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.formItem {
    border: 1px solid rgb(237, 238, 242);
    animation: 0.6s linear 0s 1 normal none running none;
    width: 100%;
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h5 {
        font-weight: 700;
        font-size: 1.7rem;
    }
    .value {
        display: flex;
        align-items: center;
        flex-direction: column;
        div {
            font-size: 2rem;
            font-weight: 700;
        }
        p {
            font-size: 13px;
        }
       
    }
    .btnAction {
        background-color: rgb(247, 248, 250);
        color: rgb(86, 90, 105);
        font-size: 2rem;
        font-weight: 500;
        padding: 4px;
        text-align: center;
        border-radius: 6px;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: transform 450ms ease 0s;
        transform: perspective(1px) translateZ(0px);
        &:hover {
            background-color: rgb(222, 224, 231);
        }
    }
   
    .inputValue {
         input {
             max-width: 150px;
             color: rgb(0, 0, 0);
             font-weight: 500;
             outline: none;
             border: none;
             background-color: rgb(247, 248, 250);
             font-size: 24px;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             padding: 0px;
             appearance: textfield;
             text-align: right;
             filter: none;
             opacity: 1;
             transition: opacity 0.2s ease-in-out 0s;
         }
     }
     
    }
    .btnAction {
        margin-top: 2rem;
        background-color: rgb(247, 248, 250);
        color: rgb(86, 90, 105);
        font-size: 2rem;
        font-weight: 500;
        padding: 8px;
        text-align: center;
        border-radius: 15px;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: transform 450ms ease 0s;
        transform: perspective(1px) translateZ(0px);
        &:hover {
            background-color: rgb(222, 224, 231);
        }
    }