
.heading {
    height: 50px;
    background-color: var(--color-bg-main);
    margin: 20px 15px 0px;
    p {
        font-size: 20px;
        font-weight: 900;
        color: var(--color-text-main);
        margin-bottom: 0;
    }
}