@import '@/styles/base.scss';

.wrapper {
    position: relative;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .content {
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color:  var(--color-bg-main);
        }

        &::-webkit-scrollbar {
            width: 12px;
            background-color: var(--color-bg-main);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #D62929;
        }
        flex-grow: 1;
        overflow: auto;
        .leftContent {
            @media only screen and (min-width: 768px) {
                & {
                    width: 100%;
                }
            }
            @media only screen and (min-width: 992px) {
                & {
                    width: 41.6667%;
                }
            }
            .totallyLeft {
                display: flex;
                border-radius: 25px;
                margin: 20px 15px;
                justify-content: space-between;
                background-color: var(--color-bg-primary);
                padding: 37px 16px;
                align-items: center;
                p {
                    font-size: 17.5px;
                    font-weight: 900;
                    line-height: 1;
                    color: var(--text-color);
                }
                .totalValue {
                    display: flex;
                    align-items: center;
                    & > div {
                        margin-right: 1.5rem !important;
                    }
                    svg {
                        margin-left: 1rem;
                        margin-bottom: 0.3rem;
                        font-size: 18px;
                        color: var(--primary-color);
                        fill: var(--primary-color);
                    }
                    .totalAPY {
                        margin-left: 10px;
                        color: var(--primary-color);
                        font-size: 16px;
                    }
                }
                .address {
                    display: flex;
                    align-items: center;
                    .arrowRight {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: var(--color-bg-active);
                        margin-left: 26px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}