.supplyMarket {
    :global {
        .ant-table-container {
            background-color: var(--color-bg-primary);
        }
        .ant-table-tbody > tr.ant-table-row {
            cursor: pointer;
        }
        .ant-table-tbody > tr.ant-table-row:hover > td {
            background-color: var(--color-bg-active);
        }
        .ant-table-thead tr th {
            color: var(--text-secondary);
            font-size: 16px;
            font-weight: normal;
            background: var(--color-bg-primary);
            border-bottom: 0px;
            transition: background 0.3s ease 0s;
        }
       
        .ant-table-cell {
            background-color: transparent;
            border-bottom: none;
        }
    }
    .asset {
        display: flex;
        align-items: center;
        & > div {
            margin-right: 1rem !important;
        }
    }
    .apy {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: rgb(157, 213, 98);
        .apyGreenLabel {
            color: rgb(157, 213, 98);
            width: 80px;
            font-size: 14px;
            font-weight: 600;
        }
        .apyRedLabel {
            width: 80px;
            font-size: 14px;
            font-weight: 600;
            color: rgb(249, 5, 62);
        }
    }
    .wallet {
        font-size: 14px;
        font-weight: 900;
    }
}